@import "prismjs/themes/prism-tomorrow.css";

.playgroundEditor {
  position: relative;
  flex-basis: 75%;

  .editorContainer {
    height: 60vh;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;

    overflow: auto;
    tab-size: 4ch;
    color: #fff;
    background-color: #333;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  ::selection {
    background: #accef790;
  }
}

.editorLineNumber {
  position: absolute;
  left: 0px;
  color: #8a8a8a;
  text-align: right;
  width: 40px;
}

.editor {
  counter-reset: line;
}

.editor pre {
  padding-left: 5rem !important;
  height: 100%;
}

.codeArea {
  overflow-wrap: normal !important;
  word-break: keep-all !important;
  outline: none;
  padding-top: 1rem;
  padding-left: 5rem !important;
  /* z-index: 999999999; */
  white-space: nowrap;
}
